<a href="https://colab.research.google.com/github/mohammedmudassirhussain/2216168_AIML_BOOTCAMP_2023/blob/main/ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1
a=int(input("enter a number"))
print(a)
b=str(input("enter a string"))
print(b)

#strings indexing
str="Gradstellar"
print(str[0:-1])
print(str[-1])

#slicing
print(str[0:7:2])
#reverse
print(str[::-1])
#string methods
my_str="iam a topper"
print(my_str.upper())
print(my_str.lower())
dir(str)
print(my_str.swapcase())
print(my_str.lstrip())


#string operations
str1="hello"
str2="world"
print(str1+str2)
print(str1*2)

#string formats
name="mudassir"
language="python"
year=2023
print(name,"is teaching",language,"programming in",year)
#place holder
print("%s is teaching %s  in %d"%(name,language,year))
#raw string
print(f"{name} is teaching {language} programing in{year}")

enter a number1
1
enter a stringmudassir
mudassir
Gradstella
r
Gase
ralletsdarG
IAM A TOPPER
iam a topper
IAM A TOPPER
iam a topper
helloworld
hellohello
mudassir is teaching python programming in 2023
mudassir is teaching python  in 2023
mudassir is teaching python programing in2023

In [3]:
#6
m=711
print(bin(m))

print(hex(m))

print(oct(m))

0b1011000111
0x2c7
0o1307

In [4]:
#4
#dictionaries

my_dict={"name":"gradstellar",101:"english"}
print(my_dict["name"])
print(my_dict.keys())
print(my_dict.keys())
print(my_dict.values())
print(my_dict.get("name"))
print(my_dict.get(101))

gradstellar
dict_keys(['name', 101])
dict_keys(['name', 101])
dict_values(['gradstellar', 'english'])
gradstellar
english

In [5]:

#5
#sets
my_set={1,2,3,4,5,6,7}
my_set1={1,7.0,"mudassir"}

l=[1,2,3,4,5,6,7]
print(l)
my_set2=set(l)
print(my_set2)



#set methods
my_set.add(9)
print(my_set)
my_set.update([11,13])
print(my_set)
my_set.discard(9)
print(my_set)
my_set.remove(5)
print(my_set)


#set operations
#union
a={1,2,3,4,5,6,7,8,9}
b={4,5,6,1,2,3}
print(a|b)
print(a.union(b))
print(b.union(a))
#intersection
print(a&b)
print(a.intersection(b))
print(b.intersection(a))
#difference
print(a-b)
print(a.difference(b))
print(b-a)
print(b.difference(a))

[1, 2, 3, 4, 5, 6, 7]
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 9, 11, 13}
{1, 2, 3, 4, 5, 6, 7, 11, 13}
{1, 2, 3, 4, 6, 7, 11, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{8, 9, 7}
{8, 9, 7}
set()
set()

In [6]:
#2
#lists
my_list=[1,2,3,4,5,6,7]
my_list1=[1,"mudassir","3.0"]
my_list3=["apple","banana","cherry"]
str="Gradstellar"

# indexing
print(my_list[-2])
print(my_list[-1])
#slicing in lists
print(my_list[:3])
print(str[0:7:2])


#reverse
print(str[::-1])
#nested lists
n_list=["dragonfruit",my_list,my_list[1]]
print(n_list[0][0:12])
print(n_list[0][0:-2])


#list method
my_list.append(5)
print(my_list)
l1=[4,2,5,9,7,3,24,49,6,4,4,9]
print(l1.count(4))
print(len(l1))
l1.reverse
print(l1)
l1.sort
print(l1)


#address
print(id(l1))
print(id(my_list))

6
7
[1, 2, 3]
Gase
ralletsdarG
dragonfruit
dragonfru
[1, 2, 3, 4, 5, 6, 7, 5]
3
12
[4, 2, 5, 9, 7, 3, 24, 49, 6, 4, 4, 9]
[4, 2, 5, 9, 7, 3, 24, 49, 6, 4, 4, 9]
140367044895360
140367008563968

In [7]:
#4
my_tup=(1,2,3,4,5)
my_tup1=("hii",7.0,7)
n_tup=("HELLO",my_tup,my_tup1)
print(n_tup[-1][-1])


#Tuple Methods
print(my_tup.count(2))
print(my_tup.index(2))

print(max(my_tup))
print(min(my_tup))
print(len(my_tup))

7
1
1
5
1
5

In [1]:

#7
#arithmetic operators
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a&b)

15
5
50
2.0
2
100000
0

In [ ]:
#8
#assignment operators
a=10
b=5
c=a+b
print(c)
c-=a
print(c)
c=+b
print(c)

15
5
5

In [ ]:
#9
#comparision operators
a=10
b=5
print(a==b)
print(a<=b)
print(a>=b)
print(a<<b)
print(a>>b)
print(a!=b)

False
False
True
320
0
True

In [ ]:
#10
#logical operators
x="true"
y="false"
print("x and y is:",x and y)
print("x or y is:",x or y)
print("x not y is:", not y)

x and y is: false
x or y is: true
x not y is: False

In [ ]:
#11
#bitwise operators
a=10
b=15
print(a&b)#and
print(a|b)#or
print(-a)#not
print(a^b)#xor
print(a>>3)#right shift
#print(a<<b)#leftshift

10
15
-10
5
1

In [ ]:
#12
#membership operators
x="hello worls"
print("w"in x)
print("a"in x)

True
False

In [ ]:
#13
#identity operators
x1=5
y1=10
x2="hello"
y2="world"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)

print(x3 is not y3)

print(x3 is  y3)

True
True
False

In [ ]:
#14
#negative indexing and slicing of lists
a=['apple','banana','orange','cherry','mango','custard apple']
print(a[0])#using index
print(a[5])
print(a[-1])
print(a[-2])
print(a[2:5])#from 2 nd index
print(a[-1:-5])
print(a[-5:-2])
print(a[:4])
print(a[0:4])

apple
custard apple
custard apple
mango
['orange', 'cherry', 'mango']
[]
['banana', 'orange', 'cherry']
['apple', 'banana', 'orange', 'cherry']
['apple', 'banana', 'orange', 'cherry']

In [ ]:
#gives ascii values
x=str(input("enter"))
print(ord(x))

entera
97

In [ ]:
#15
print("A series of character designated as one object known as a string"[::-1][4::3])
print("-----------")
print("welcome to python training program"[3:10][::-1])

taawkcbe  tgerca  is
-----------
ot emoc

In [ ]:

#16
p_phrase="was it a car or a cat i saw"
print(p_phrase.upper()[::-1])

WAS I TAC A RO RAC A TI SAW

In [ ]:
#17
x=int(input(""))
y=2*x
print(x*'z'+y*'o')

5
zzzzzoooooooooo