<a href="https://colab.research.google.com/github/mohammedmudassirhussain/2216168_AIML_BOOTCAMP_2023/blob/main/DAY_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#decision Making:


#if statement
var=100
if var>0:
  print("is true")
  print(var)
  #if -- else statement
  var=-1
  if var>0:
    print("true")
  else:
    print("False")
#nested if statement
age=int(input("enter age"))
if age > 0:
  if age>0 and age<=2:
    print("Free ticket")
  elif age>2 and age<15:
      print("Half ticket")
  elif age>=15 and age<60:
      print("Full Ticket")
  elif age >=60:
      print("dicounted ticket")

is true
100
False
enter age0

In [38]:
#loops
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in range(1,11):
  print(i)
sum=0
for val in numbers:
  sum=sum+val
print("the sum is",sum)
#printing odd numbers
for i in range(1,11,2):
  print(i)

1
2
3
4
5
6
7
8
9
10
the sum is 55
1
3
5
7
9
1
2
3
4
5
6
7
8
9
10

In [40]:
#while loop
count=1
while(count<11):
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

In [61]:
#nested loops

x=[[1,2,3],[4,5,6],[7,8,9]]
y=[[2,4,6],[4,7,9],[3,6,9]]

res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[3, 6, 9]
[8, 12, 15]
[10, 14, 18]

In [63]:
#nested while loop
num=int(input("Enter untill which table you need"))
i=1
while(i<=num):
  print(f"table {i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("----------------")
  i=i+1

Enter untill which table you need5
table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
----------------
table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
----------------
table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
----------------
table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
----------------
table 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
----------------

In [71]:
#control statements

#break
for i in "python":
  if i=="h":
    break
  print("current letter",i)
print("______________________")
#continue
for i in "python":
  if i=="h":
    continue
  print("current letter",i)
print("______________________")

#pass
for i in "python":
  if i=="h":
    pass
    print("this is a pass block")
  print("current letter",i)

current letter p
current letter y
current letter t
______________________
current letter p
current letter y
current letter t
current letter o
current letter n
______________________
current letter p
current letter y
current letter t
this is a pass block
current letter h
current letter o
current letter n

In [74]:
#Functions
def greet(name):
  '''this function greets a person'''
  print("hello, \t "+name+  "\t good morning")
greet("mudassir")

hello, 	 mudassir	 good morning

In [78]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))

6
12

In [86]:
#key word
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(a=0,b=3,c=1))

7
4

In [87]:
#Positions
def A(a,b,c):
  return a+b+c
print(A(10,20,30))

60

In [104]:
#arbitrary positional
def add_num(*n):
  print((sum(n)))
add_num(1,2,3,4,5,6,7,8,9,10)
  #return n

SyntaxError: ignored

In [105]:
# arbritary keywords
def key_args(**kwargs):
  return kwargs
myd=key_args(Apples=30,banana=40,cherries=50)
print(myd["Apples"])
print(myd)

30
{'Apples': 30, 'banana': 40, 'cherries': 50}

In [113]:
#higher order functions
def shout(text):
  return text.upper()

def whisper(text):
  return text.lower()
def explain(func):
  greet=func("HI IAM A HIGHER ORDER FUNCTION")
  print(greet)

explain(shout)
explain(whisper)

HI IAM A HIGHER ORDER FUNCTION
hi iam a higher order function