<a href="https://colab.research.google.com/github/mohammedmudassirhussain/2216168_AIML_BOOTCAMP_2023/blob/main/tup%2Cdict%2Csets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_tup=(1,2,3,4,5)
my_tup1=("hii",7.0,7)
n_tup=("HELLO",my_tup,my_tup1)
print(n_tup[-1][-1])

7

In [ ]:
#Tuple Methods
print(my_tup.count(2))
print(my_tup.index(2))

print(max(my_tup))
print(min(my_tup))
print(len(my_tup))

1
1
5
1
5

In [ ]:
#sets
my_set={1,2,3,4,5,6,7}
my_set1={1,7.0,"mudassir"}

l=[1,2,3,4,5,6,7]
print(l)
my_set2=set(l)
print(my_set2)

[1, 2, 3, 4, 5, 6, 7]
{1, 2, 3, 4, 5, 6, 7}

In [ ]:

#set methods
my_set.add(9)
print(my_set)
my_set.update([11,13])
print(my_set)
my_set.discard(9)
print(my_set)
my_set.remove(5)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9, 11, 13}
{1, 2, 3, 4, 5, 6, 7, 9, 11, 13}
{1, 2, 3, 4, 5, 6, 7, 11, 13}
{1, 2, 3, 4, 6, 7, 11, 13}

In [ ]:
#set operations
#union
a={1,2,3,4,5,6,7,8,9}
b={4,5,6,1,2,3}
print(a|b)
print(a.union(b))
print(b.union(a))
#intersection
print(a&b)
print(a.intersection(b))
print(b.intersection(a))
#difference
print(a-b)
print(a.difference(b))
print(b-a)
print(b.difference(a))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{8, 9, 7}
{8, 9, 7}
set()
set()

In [ ]:
#dictionaries

my_dict={"name":"gradstellar",101:"english"}
print(my_dict["name"])
print(my_dict.keys())
print(my_dict.keys())
print(my_dict.values())
print(my_dict.get("name"))
print(my_dict.get(101))

gradstellar
dict_keys(['name', 101])
dict_keys(['name', 101])
dict_values(['gradstellar', 'english'])
gradstellar
english